* {
    font-family: Tahoma;
}

@font-face {
    font-family: logoFont;
    src: url('../../assets/fonts/BlackberryJamPersonalUse-rXOB.ttf');
}

#header {
    background: #A20100;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1;
    border-bottom: solid 3px #FFD700;
}

#logo-pic {
    background-image: url('../../assets/images/svg/chef.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    width: 25px;
    height: 25px;
    left: 3px;
    top: 4px;
    margin: auto;
}

#logo-text {
    font-family: logoFont;
    position: fixed;
    top: 4px;
    left: 35px;
    font-size: 1em;
    font-weight: lighter;
    margin: 0;
    color: #FFD700;
}
.checked{
    color: gold;
}
.page-main-subject{
    color: #a20100;
    font-size: 3vw;
    font-family: logoFont;
    text-decoration: underline;
}