.home {
    position: relative;
}

.home::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100VW;
    height: 100%;
    z-index: -1;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-image: url("../images/pictures/home/01.jpg");
}

.home .logo {
    background-image: url(../images/svg/Tomyumkung.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
}
.home .feature{
    font-family: logoFont;
    color: white;
    font-size: 1.8vw;
    text-shadow: 1px 1px 5px #000;
}
.home .subject {
    font-family: logoFont;
    color: white;
    font-size: 3.5vw;
    text-shadow: 1px 1px 5px #000;
    margin: auto;
    width: fit-content;
    border-top: dashed 2px #a20100;
}

.home form{
    margin: 1vw 0 1vw 0;
}

.home form * {
    border: none;
    height: 3vw;
}
.home form input{
    width: 30%;
    padding-left: 0.5em;
    border-radius: 1em 0 0 1em;
}
.home form select{
    width: 10%;
}
.home form button{
    width: 10%;
    border-radius: 0 1em 1em 0;
    color: white;
    background: #A20100;
    font-weight: bold;
}
.home .account , .home .account button{
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
}
.home .account button:hover{
    color: gold;
}