.main-features {
}

.main-features .content {
    padding: 0 10vw;
}

.main-features .content h2 {
    font-size: 1.5vw;
    text-align: left;
    width: 100%;
    font-weight: bold;
    color: #a20100;
}

.main-features .content .card-title {
    font-family: logoFont;
    color: #a20100;
    font-size: 1.25vw;
}

.main-features .thai-dish-top-4{
    height: 19vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-features .thai-dish-top-4.pic-01{
    background-image: url("../../assets/images/pictures/foods/tom-yum-kung.jpg");
}
.main-features .thai-dish-top-4.pic-02{
    background-image: url("../../assets/images/pictures/foods/pud-thai.jpg");
}
.main-features .thai-dish-top-4.pic-03{
    background-image: url("../../assets/images/pictures/foods/dtom-kaa-gai.jpg");
}
.main-features .thai-dish-top-4.pic-04{
    background-image: url("../../assets/images/pictures/foods/gaeng-keow-wan-gai.jpg");
}

.main-features .thai-dish-recommend-pic {
    height: 14vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-features .thai-dish-recommend-pic.pic-01 {
    background-image: url("../../assets/images/pictures/foods/pat-gra-pao.jpg");
}

.main-features .thai-dish-recommend-pic.pic-02 {
    background-image: url("../../assets/images/pictures/foods/som-tam.jpg");
}

@media (orientation: portrait) {
    .main-features .content .card-title{
        font-size: 1vw;
    }
}

@media (min-width: 0px) and (max-width: 768px) and (orientation: landscape) {

}

@media (min-width: 0px) and (max-width: 768px) and (orientation: portrait) {

}